$standard-margin: 1rem
$large-standard-margin: 4rem

$medium-font-size: 6rem
$huge-font-size: 8rem
$huge-font-size-plus: 10rem

.problem-output
	display: inline-block
	margin: $standard-margin auto
	text-align: right
	font-size: $huge-font-size
	line-height: $huge-font-size
	font-family: monospace

.problem-io input
	font-size: $huge-font-size
	line-height: $huge-font-size
	height: $huge-font-size-plus
	text-align: center

.user-message
	font-size: $medium-font-size
	text-align: center

.correct
	color: #00aa00



/* -------------------- Misc -------------------- */

.display-none
	display: none

.standard-margin-bottom
	margin-bottom: $standard-margin

.large-standard-margin-bottom
	margin-bottom: $large-standard-margin

/* -------------------- End Misc -------------------- */